#
# Copyright (c) 2023,2024 Volkswagen AG
# Copyright (c) 2025 Fraunhofer-Gesellschaft zur Foerderung der angewandten Forschung e.V. (represented by Fraunhofer ISST)
# Copyright (c) 2023,2024 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License, Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0.
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
# SPDX-License-Identifier: Apache-2.0
#

services:

  dns-host-resolver:
    container_name: resolver
    image: dvdarias/docker-hoster
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock
      - /etc/hosts:/tmp/hosts

  postgres:
    image: postgres:15.4-alpine
    container_name: postgres-wallet
    healthcheck:
      test: ["CMD-SHELL", "pg_isready  -d wallet -U ${PG_USER}"]
      interval: 4s
      timeout: 3s
      retries: 15
    environment:
      POSTGRES_DB: wallet
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PW}
      #    volumes:
      # use docker-compose down --volumes to kill db volume
      # only then, changes to the script are executed!
    #      - ./postgres/init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
    ports:
      - "127.0.0.1:5432:5432"
    networks:
      - miw-net

  keycloak:
    container_name: keycloak
    image: quay.io/keycloak/keycloak:23.0.1
    env_file:
      - ./miw/keycloak.properties
    healthcheck:
      # https://gist.github.com/sarath-soman/5d9aec06953bbd0990c648605d4dba07
      test: ["CMD-SHELL", '[ -f /tmp/HealthCheck.java ] || echo "public class HealthCheck { public static void main(String[] args) throws java.lang.Throwable { System.exit(java.net.HttpURLConnection.HTTP_OK == ((java.net.HttpURLConnection)new java.net.URL(args[0]).openConnection()).getResponseCode() ? 0 : 1); } }" > /tmp/HealthCheck.java && java /tmp/HealthCheck.java http://localhost:8080/health/live']
      interval: 4s
      timeout: 3s
      retries: 20
    environment:
      DB_SCHEMA: public
    command:
      - --verbose
      - start-dev
      - --import-realm
    volumes:
      - ./miw/keycloak-setup.json:/opt/keycloak/data/import/miw_test_realm.json
      - ./keycloak/supplier/Supplier-realm.json:/opt/keycloak/data/import/Supplier-realm.json
      - ./keycloak/supplier/Supplier-users-0.json:/opt/keycloak/data/import/Supplier-users-0.json
      - ./keycloak/customer/Customer-realm.json:/opt/keycloak/data/import/Customer-realm.json
      - ./keycloak/customer/Customer-users-0.json:/opt/keycloak/data/import/Customer-users-0.json
    ports:
      - "127.0.0.1:8080:8080"
    depends_on:
      - postgres
    networks:
      - miw-net
  vault:
    build: ./vault
    container_name: vault
    healthcheck:
      test: ["CMD-SHELL", "wget -q --spider http://vault:8200/v1/sys/health"]
      interval: 4s
      timeout: 3s
      retries: 20
    ports:
      - "127.0.0.1:8200:8200"
    environment:
      # token id may not contain prefix
      VAULT_DEV_ROOT_TOKEN_ID: ${VAULT_DEV_ROOT_TOKEN_ID}
      VAULT_ADDR: http://vault:8200
      VAULT_PUT_SECRETS_DIR: ${VAULT_SECRETS_DIR}
      # ATTENTION: Non productive environment
      SKIP_SETCAP: true
      SKIP_CHOWN: true
    volumes:
      - ./vault/secrets:${VAULT_SECRETS_DIR}
    networks:
      - miw-net

#  replaced by ssi-dim-wallet-stub
#  if you need dcp v08
#  1. update the edc settings to force use dcp 0.8
#  2. outcomment wallet stub based service
#  3. incomment this old wallet 
#  wallet:
#    build: ./iam-mock
#    container_name: wallet
#    ports:
#      - "127.0.0.1:8888:80"
#    networks:
#      - miw-net

  wallet:
    image: tractusx/ssi-dim-wallet-stub:0.0.8
    container_name: wallet
    env_file:
      - ./ssi-dim-wallet-stub/application.properties
    ports:
      - "127.0.0.1:8888:80"
    networks:
      - miw-net

  bdrs:
    image: tractusx/bdrs-server-memory:0.0.4
    container_name: bdrs
    healthcheck:
      test: ["CMD-SHELL", "wget -q --spider http://bdrs:8580/api/check/readiness"]
      interval: 4s
      timeout: 3s
      retries: 20
    env_file:
      - ./bdrs/application.properties
    environment:
      WEB_HTTP_PORT: 8580
      WEB_HTTP_PATH: /api
      edc.iam.trusted-issuer.issuer.id: did:web:wallet:BPNL000000000000
    ports:
      - "127.0.0.1:8580:8580"
      - "127.0.0.1:8581:8581"
      - "127.0.0.1:8582:8582"
    networks:
      - miw-net
networks:
  miw-net:
    name: miw-net
